
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490078125841'); /* IE9*/
  src: url('iconfont.eot?t=1490078125841#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490078125841') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490078125841') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490078125841#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before { content: "\e76e"; }

.icon-list:before { content: "\e728"; }

.icon-undo:before { content: "\e7f2"; }

.icon-a:before { content: "\e63e"; }

.icon-aligncenter:before { content: "\e609"; }

.icon-image:before { content: "\eb26"; }

.icon-info:before { content: "\eb2a"; }

.icon-paintbrush:before { content: "\eb95"; }

.icon-link:before { content: "\e707"; }

.icon-full:before { content: "\e621"; }

.icon-table:before { content: "\e606"; }

.icon-unlink:before { content: "\e78b"; }

.icon-horizontal:before { content: "\e515"; }

.icon-athit-iconfont-rich-clear-format:before { content: "\e65a"; }

